__pycache__/
*.log
reporte/keygen.txt
reporte/ssh-copy-id*
newpt_instalador.tar.gz
*.spec
dist/
build/
*.npy
*.xyz
*.tmp
ploteoantestest/grillas/
*.tif
*.tiff
*.npy
*.xyz
*.tmp
ploteo/grillas/
*.npy
*.xyz
*.tif
*.tiff
*.tmp
ploteo/grillas/
